form {
    margin-top: 20px;
    min-width: 320px;
    gap: 5px;
    justify-content: center;
}

label {
    display: block;
    flex: 1;
    flex-basis: calc(50% - 15px);
}

.label {
    display: block;
    flex: 1;
    flex-basis: calc(25% - 10px);
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    flex-basis: calc(70% - 10px);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Optional: Style for error messages */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.Company-details {
    padding: 20px 15px;
    background: #ffffff;
    border-radius: 4px;


}

.Client-details {
    padding: 20px 15px;
    background: #ffffff;
    border-radius: 4px;
}

.margin-l-r {
    padding: 40px 0;
    margin: 10px 12px;

}

.button {
    border: none;
    background: #ffffff;
    padding: 15px 20px;
    font-size: 17px;
    
}