* {
  font-family: "Rethink Sans", sans-serif;
}

@media screen and (min-width: 992px) {

  .navbar,
  .navbar-light .navbar-nav .nav-link,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .navbar {
    align-items: center;
    align-content: center;
  }
}

#navbarNav {
  width: 100%;
}

.f-grow {
  flex: 1;
}

.navbar-nav {
  width: 87%;
  margin-left: 35px;
}

@media screen and (max-width: 992px) {
  .Main-section {
    flex-flow: column wrap;
    flex: 1;
  }
}

.profile-div {
  max-width: 14rem;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .profile-div {
    display: none;
  }
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border: 4px solid #fff;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 106px;
  border-radius: 100px;
  background: linear-gradient(225deg,
      rgba(235, 71, 38, 0.9780287114845938) 39%,
      rgba(236, 101, 161, 0.958420868347339) 96%);
}

.text-dark {
  color: #5e5e5e;
}

.font-800 {
  font-weight: 800;
}

.font-700 {
  font-family: 700;
}

.small {
  font-size: 13px;
}

.head-xl {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  color: #4a4a4a;
  padding-top: 10px;
}

.text-sm {
  font-size: 12px;
  text-align: center;
  color: #9e9e9e;
}

.nav-link {
  transition: all 0.1s;
  color: #c9c1bd !important;
}

.nav-link:hover {
  color: #f55a62 !important;
  font-weight: 550;
  border-radius: 3px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  top: 0;
  border-radius: 7px 0 0 7px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
  background-color: #f55a62;
}

/*  
second section started...
*/

.main {
  width: 100%;
  background: #f2f2f2;
}

.theme-btn {
  padding: 7px 35px;
  background-color: #f55a62;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.theme-btn:hover {
  text-decoration: none;
  color: #fff;
}

.head-action-btn {
  font-size: 24px;
  padding: 0 7px;
  margin: 0 7px;
  transition: all 0.4s;

  &:hover {
    color: #f55a62 !important;
  }
}

@media screen and (max-width: 425px) {
  .story-box {
    margin-right: 2px;
    max-height: 160px;
  }
}

.story {
  gap: 25px;
}

.carousel-img {
  width: 23%;
  border-radius: 4px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-box {
  width: 49px;
  height: 49px;
  border-radius: 100px;
  background: linear-gradient(225deg,
      rgba(235, 71, 38, 0.9780287114845938) 39%,
      rgba(236, 101, 161, 0.958420868347339) 96%);
}

.profile-img-followers {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100px;
  border: 2px solid #ffff;
}

.report-box {
  height: 21rem;
  background: #ffff;
}

.flex-item {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.single-box {
  flex: 0 0 auto;
  width: calc(33.33% - 7px);
  height: 195px;
  padding: 5px 0;
}

.hidden {
  display: block !important;
  padding-left: 20px;
  width: 200%;
}

.column {
  flex-direction: column;
}

.text-dark-light {
  color: #5e5e5e;
}

.bg-none {
  background: #fff;
  border: none;
}

.input-search {
  border: none;
  outline: none;

  &:focus {
    box-shadow: none;
    border: none;
  }
}

.main-container {
  flex-basis: 190%;
}

.main-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      rgba(240, 175, 188, 0.804) 27%,
      rgba(236, 52, 89, 0.897) 96%);
  border-radius: 10px;
}

.theme-follow {
  padding: 2px 15px;
  font-size: 15px;
}

.head-md {
  font-size: 15px;
  margin: 0;
}

.padding {
  padding: 10px 0;
}

.sticky {
  position: sticky;
  top: 0px;
  /* z-index: 999; */
}

#flex-gallary {
  /* gap: 4%;  */
  justify-content: space-between;
}

.xs-img {
  width: 30px;
  border-radius: 50px;
  border: none;
  height: 30px;
  margin-left: -7px;
}

.xs-img-box {
  padding: 20px 0;
}

.text-xs {
  font-size: 12px;
}